body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: whitesmoke;
  font-family: 'Proza Libre', sans-serif; 
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Proza+Libre&display=swap');
/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Proza Libre', sans-serif; 
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 58px;
}


/* PART: DARK MODE  */


.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* New Note:  */
.note.new {
  background-color: #f9c74f;
  font-weight: bold;
  
}

textarea {
  border: none;
  resize: none;
  background-color: #f9c74f;
}

textarea:focus {
  outline: none;
}



/* PART: BUTTON  */
button.save {
  position: relative;
  left: 10em;
}

.save {
  background-color: #81b29a;
  border: none;
  font-weight: bold;
  border-radius: 15px;
  padding: 5px 10px;
  justify-content: space-between;
  position: relative;
}

.save:hover {
  background-color: #e07a5f;
  cursor: pointer;
}

.note {
  background-color: #ffbe0b;
  color: RGB(33, 29, 30);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
}

.delete-icon {
  cursor: pointer;
  position: relative;
  left: 10em;
}


/* PART: SEARCH  */

.search {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: 2px solid #e9d8a6;
  border-radius: 10px;
  background-color: none ;
  background-color: none;
  width: 100%;
  padding: 10px 20px;
  margin: 1px 0;
  box-sizing: border-box;
}

.search input:focus {
  outline: none;
} 

/* PART: NAUFAL AZIM  */
.owner {
  font-family: 'Proza Libre', sans-serif;
}

.owner a {
  color: #bb3e03;
}
